body {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 30px 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
